@font-face {
  src: url("../fonts/BMHANNAAir_ttf.ttf");
  font-family: "main";
}
@font-face {
  src: url("../fonts/Raleway-Bold.ttf");
  font-family: "bold";
}
@font-face {
  src: url("../fonts/Raleway-Thin.ttf");
  font-family: "thin";
}
ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: main, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  word-break: keep-all;
}
body {
  margin: 0;
  background-color: #ebf0f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #616161;
}

#container {
  flex: 1 1 auto;
  background: tomato;
}
.title {
  text-align: center;
  font-size: xx-large;
  margin: auto 50% auto 10px;
  padding-top: 2px;
  color: black;
  line-height: 25px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.title > #sub_title {
  font-size: medium;
  font-family: main;
}
header {
  flex: 0 1 auto;
  height: 8vh;
  width: 100%;
  font-family: bold;
  font-size: 15px;
  background-color: #2e2e2e;
  align-items: center;
  z-index: 1;
  box-shadow: 0 2px 11px rgba(33, 33, 33, 0.2);
}
button {
  color: white;
  font-family: main;
  margin: auto 5px;
  background-color: gray;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  border-style: hidden;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: white;
}

container::-webkit-scrollbar {
  display: none;
}
.half_section {
  width: 80%;
  overflow: scroll;
}
.list_section {
  height: 100%;
  width: 20%;
}

.half_section::-webkit-scrollbar {
  display: none;
}
.half_section > div {
  margin: 10px auto 10px auto;
  height: 97%;
  width: 97%;
}
#side_bar {
  background-color: #ebf0f5;
  width: 20%;
  display: flex;
  flex-direction: column;
}
#dashboard {
  width: 80%;
  background-color: white;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
#list:hover {
  box-shadow: 0 0 11px rgba(156, 112, 112, 0.2);
}
#dashboard > div {
  background-color: white;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
  height: auto;
  width: 100%;
}
#dashboard > div:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
footer {
  font-family: thin;
  text-align: center;
  padding-bottom: 10px;
}

#chart {
  align-items: center;
  margin: 10px auto 10px auto;
  display: flex;
  flex-wrap: wrap;
}
#dashboard::-webkit-scrollbar {
  display: none;
}
#updateDate {
  background-color: #ebf0f5;
  text-align: right;
  font-weight: 100;
  padding: 5px 5px 0 0;
  font-size: 12px;
  color: gray;
}
#list {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  overflow: scroll;
}
.list_item {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.list_item > li {
  flex: 1;
  font-size: 15px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  padding: 15px 0;
}
#sortation {
  height: 100%;
  color: white;
  background-color: #21b7b5;
  box-shadow: 0 2px 11px rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 700px) {
  .half_section {
    width: 98%;
  }
  .title {
    margin: auto 5% auto 10px;
  }
}

.chart_container {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
}

.summary_container > div > span {
  width: 22%;
  text-align: center;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 1045px) {
  .summary_container > div {
    width: 98%;
  }
}
/*ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #616161;
}
html {
  font-family: main, sans-serif;
  color: black;
  word-break: keep-all;
}
body {
  margin: 0;
  background-color: #ebf0f5;
  height: 100vh;
  flex-direction: column;
  position:relative;
}
button {
  color: white;
  font-family: main;
  background-color: #e7604a;
  width: 80px;
  border-radius: 0;
  border-style: hidden;
  border-right: 1px solid #ff6951;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: #ff8151;
}
.chart_container::-webkit-scrollbar {
  display: none;
}
#test20 {
  position: absolute;
  background-color: black;
  top:50px
  bottom: 0;
  left: 0;
  width: 100%;
}
.chart_container > div {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 1%;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
  box-sizing: border-box;
  width: 48%;
  padding-bottom: 0;
}

.chart_container > div:hover {
  box-shadow: 0 0 15px rgba(156, 112, 112, 0.2);
}
#small_chart {
  width: 23%;
}
@media screen and (max-width: 1400px) {
  #small_chart {
    width: 48%;
  }
  .chart_container > div {
    width: 98%;
  }
}

header {
  color: white;
  display: flex;
  height: 50px;
  background-color: #353942;
  z-index: 2;
  box-shadow: 0 11px 11px rgba(33, 33, 33, 0.2);
  line-height: 50px;
}
#container {
  display: flex;
  background-color: white;
  flex-direction: row;
}

#list_container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  background-color: #353942;
  color: #9aa4be;
}
#list {
  height: 88vh;
  overflow: auto;
}
.list_item {
  flex: 1;
  display: flex;
  flex-direction: row;
  transition: background-color 0.3s;
}
#list > li > .list_item:hover {
  color: black;
  background-color: #29c7ca;
}
.list_item > li {
  flex: 1;
  font-size: 15px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  padding: 15px 0;
}
.chart_container {
  background-color: #ebf0f5;
  flex: 1;
  height: 94vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  box-sizing: border-box;
}
.title {
  font-family: bold;
  background-color: #29c7ca;
  width: 15%;
  min-width: 170px;
  text-align: center;
  font-size: xx-large;
}
.title > span {
  color: gold;
}
#updateDate {
  color: #9aa4be;
  flex: 1;
  text-align: center;
}
*/
