@font-face {
  src: url("../../fonts/NotoSansKR-Regular.otf") format("opentype");
  font-family: "main";
  font-display: fallback;
}
@font-face {
  src: url("../../fonts/Raleway-Bold.ttf") format("truetype");
  font-family: "bold";
  font-display: fallback;
}
@font-face {
  src: url("../../fonts/Raleway-Thin.ttf") format("truetype");
  font-family: "thin";
  font-display: fallback;
}

::-webkit-scrollbar {
  position: fixed;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}

body {
  word-break: keep-all;
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: row;
  font-family: main;
}

header {
  height: 70px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer {
  font-family: thin;
  text-align: center;
  color: #5c8dbe;
  width: 100%;
  margin: 10px;
}
footer > div {
  margin-top: 8px;
}

text {
  font-family: main;
  white-space: nowrap;
}
