@font-face {
  src: url("../fonts/BMHANNAAir_ttf.ttf");
  font-family: "main";
}
@font-face {
  src: url("../fonts/Raleway-Bold.ttf");
  font-family: "bold";
}
@font-face {
  src: url("../fonts/Raleway-Thin.ttf");
  font-family: "thin";
}

html {
  font-family: main, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  word-break: keep-all;
}
body {
  margin: 0;
  background-color: #ededed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-size: xx-large;
  margin: auto 50% auto 10px;
  padding-top: 2px;
  color: white;
  line-height: 25px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.title > #sub_title {
  font-size: medium;
  font-family: main;
}
header {
  padding: 10px 10px 10px 0;
  font-family: bold;
  height: 5%;
  display: flex;
  flex-direction: row;
  background-color: #3b3b3b;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 1;
}
button {
  color: white;
  font-family: main;
  margin: auto 5px;
  background-color: #424242;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  border-style: hidden;
  transition: background-color 0.5s;
}
button:hover {
  background-color: #2b2b2b;
}

container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: scroll;
}
container::-webkit-scrollbar {
  display: none;
}
.half_section {
  height: 100%;
  width: 50%;
  overflow: scroll;
}
.half_section::-webkit-scrollbar {
  display: none;
}
.half_section > div {
  margin: 10px auto 10px auto;
  height: 97%;
  width: 97%;
}
#list {
  border-radius: 5px;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  overflow: hidden;
}
#list:hover {
  box-shadow: 0 0 11px rgba(156, 112, 112, 0.2);
}
#list > type {
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
  padding: 0 1%;
}
#chart > div {
  background-color: white;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
  height: auto;
}
#chart > div:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
footer {
  font-family: thin;
  text-align: center;
  padding-bottom: 10px;
}

#chart {
  align-items: center;
  margin: 10px auto 10px auto;
}
#chart::-webkit-scrollbar {
  display: none;
}
#updateDate {
  background-color: #f5f5f5;
  text-align: right;
  font-weight: 100;
  padding: 5px 5px 0 0;
  font-size: 12px;
  color: gray;
}
#contents {
  height: 100%;
  overflow: overlay;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .half_section {
    width: 98%;
  }
  .title {
    margin: auto 5% auto 10px;
  }
}

.chart_container {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
}
.summary_container {
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.5s;
}
.summary_container:hover {
  background-color: #f5f5f5;
}
.summary_container > div {
  width: 50%;
  display: flex;
}

.summary_container > div > span {
  width: 22%;
  text-align: center;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 1045px) {
  .summary_container > div {
    width: 98%;
  }
}
