@font-face {
  src: url("../fonts/neodgm_pro.woff");
  font-family: "main";
}

html {
  font-family: main, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  word-break: keep-all;
}
body {
  margin: 0;
  background-color: #f9ebde;
}
::-webkit-scrollbar {
  display: none;
}
body > h1 {
  font-family: bold;
}
header {
  color: #b9616b;
  margin: 0 1vh 0 1vh;
  height: 8vh;
  font-size: x-large;
  font-weight: 600;
}
header > span {
  color: #5ca5e1;
}
footer {
  height: 2vh;
  text-align: center;
}
container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}
.half_section {
  height: 88vh;
  width: 48%;
  margin: 5px 1%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#list {
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
#list > type {
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
  padding: 0;
}
#chart > div {
  width: 98%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
}
#chart > div > div {
  height: 40.5vh;
}

#chart {
  overflow: scroll;
}
#updateDate {
  text-align: right;
  color: black;
  font-weight: 100;
  font-size: 12px;
}
#contents {
  height: 100%;
  overflow: scroll;
}
@media screen and (max-width: 700px) {
  .half_section {
    width: 98%;
  }
}

.contents_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contents_container_part {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}
.chart_container {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
}
.summary_container {
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.summary_container > div {
  width: 50%;
  display: flex;
}
.summary_container > div > span {
  width: 22%;
  text-align: center;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 1045px) {
  .contents_container_part {
    width: 96%;
  }
  .title {
    width: 97%;
  }
  .summary_container > div {
    width: 98%;
  }
}
.chart_container:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes color-change-5x {
  0% {
    background: #fad9d7;
  }
  25% {
    background: #faf3d7;
  }
  50% {
    background: #d7fadd;
  }
  75% {
    background: #d7effa;
  }
  100% {
    background: #f1d7fa;
  }
}
@keyframes color-change-5x {
  0% {
    background: #fad9d7;
  }
  25% {
    background: #faf3d7;
  }
  50% {
    background: #d7fadd;
  }
  75% {
    background: #d7effa;
  }
  100% {
    background: #f1d7fa;
  }
}
