@font-face {
  src: url("../fonts/BMHANNAPro.ttf");
  font-family: "bold";
}
@font-face {
  src: url("../fonts/BMHANNAAir_ttf.ttf");
  font-family: "light";
}
html {
  font-family: light, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: color-change-5x 30s linear infinite alternate both;
  animation: color-change-5x 30s linear infinite alternate both;
  word-break: keep-all;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > h1 {
  font-family: bold;
}
.title {
  width: 98%;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 1%;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 100;
}
.contents_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contents_container_part {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}
.chart_container {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
}
.summary_container {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.summary_container > h4 {
  width: 8%;
  text-align: center;
  word-break: normal;
}
.summary_container > span {
  width: 13%;
  text-align: center;
  border: 1px;
  border-right: gray;
  border-style: none none none solid;
}
@media screen and (max-width: 800px) {
  .contents_container_part {
    width: 96%;
  }
  .contents_container {
    font-size: xx-small;
  }
}
.chart_container:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes color-change-5x {
  0% {
    background: #fad9d7;
  }
  25% {
    background: #faf3d7;
  }
  50% {
    background: #d7fadd;
  }
  75% {
    background: #d7effa;
  }
  100% {
    background: #f1d7fa;
  }
}
@keyframes color-change-5x {
  0% {
    background: #fad9d7;
  }
  25% {
    background: #faf3d7;
  }
  50% {
    background: #d7fadd;
  }
  75% {
    background: #d7effa;
  }
  100% {
    background: #f1d7fa;
  }
}
